<h1><%= @attraction.name %></h1>
Ticket Cost: <%= @attraction.tickets %> <br>
Nausea Rating: <%= @attraction.nausea_rating %><br>
Happiness Rating: <%= @attraction.happiness_rating %><br>
Min Height: <%= @attraction.min_height %><br>
